# core
numpy==1.24.1
scipy
gym==0.21.0
setuptools==65.5.0
wheel==0.38.4
sapien==2.2.1
# basic
h5py
pyyaml
tqdm
# utilties
GitPython
tabulate
gdown>=4.6.0
# vision
transforms3d
opencv-python
imageio
imageio[ffmpeg]
trimesh
rtree